// Fonts Variables

$primaryFont: "Jaldi";
$firstFont: "Inter";
$secondFont: "Roboto";

$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;

// Colors Variables

$primaryColor: #FFFFFF;

$black: #0F1015;
$white: #FFFFFF;

$darkBlack: #000000;

$gray1: #1B1B1D;
$gray2: #5C5757;
$gray3: #1B1B1D;

// Container Variables

$containerWidth: 80rem;
$containerPadding: 0.94rem;