// Fonts Variables

$primaryFont: "Inter";

$bold: 700;
$medium: 500;
$normal: 400;

// Colors Variables

$primaryColor: #4B4646;

$black: #000000;
$white: white;

$gray1: #A6A6A6;
$gray2: #ECECEC;
$gray3: #C8C8C8;
$gray4: #5F5F5F;
$gray5: #4B4646;
$gray6: rgba(75, 70, 70, 0.60);

// Container Variables

$containerWidth: 77.5rem;
$containerPadding: 0.94rem;